<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">réinitialiser votre mot de passe</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div
            class="card-header bg-transparent pb-5 row align-items-center"
            *ngIf="loading == true"
          >
            <div class="col-8">
              <p>Mis à jour du mot de passe en cours...</p>
            </div>
            <div class="col-4 text-right">
              <mat-spinner diameter="40"></mat-spinner>
            </div>
          </div>

          <form
            role="form"
            [formGroup]="resetForm"
            (ngSubmit)="resetPassword()"
          >
            <div class="form-group" [ngClass]="{ focused: focus1 === true }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Password"
                  [type]="visible ? 'text' : 'password'"
                  (focus)="focus1 = true"
                  (blur)="focus1 = false"
                  formControlName="password"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <a href="" (click)="toggle($event)">
                      <i
                        class="fa fa-eye-slash"
                        *ngIf="!visible"
                        [ngStyle]="
                          password.invalid &&
                          password.touched && { color: 'red' }
                        "
                      ></i>
                      <i
                        class="fa fa-eye"
                        *ngIf="visible"
                        [ngStyle]="
                          password.invalid &&
                          password.touched && { color: 'red' }
                        "
                      ></i>
                    </a>
                  </span>
                </div>
              </div>
              <div *ngIf="password.invalid && password.touched">
                <small *ngIf="password.errors?.required" class="text-danger"
                  ><b>le champ password est requis</b></small
                >
                <small *ngIf="password.errors?.pattern" class="text-danger"
                  ><b>Password non valide</b></small
                >
              </div>
            </div>
            <div class="form-group" [ngClass]="{ focused: focus1 === true }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="confirmer password"
                  [type]="visibleConfirm ? 'text' : 'password'"
                  (focus)="focus1 = true"
                  (blur)="focus1 = false"
                  formControlName="validatePassword"
                  onCopy="return false"
                  onDrag="return false"
                  onDrop="return false"
                  onPaste="return false"
                  autocomplete="off"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <a href="" (click)="toggleConfirm($event)">
                      <i
                        class="fa fa-eye-slash"
                        *ngIf="!visibleConfirm"
                        [ngStyle]="
                          (resetForm.errors?.misMatch ||
                            (validatePassword.invalid &&
                              validatePassword.touched)) && { color: 'red' }
                        "
                      ></i>
                      <i
                        class="fa fa-eye"
                        *ngIf="visibleConfirm"
                        [ngStyle]="
                          (resetForm.errors?.misMatch ||
                            (validatePassword.invalid &&
                              validatePassword.touched)) && { color: 'red' }
                        "
                      ></i>
                    </a>
                  </span>
                </div>
              </div>
              <div
                *ngIf="
                  (validatePassword.invalid && validatePassword.touched) ||
                  resetForm.errors?.misMatch
                "
              >
                <small
                  *ngIf="validatePassword.errors?.required"
                  class="text-danger"
                  ><b>le champ confirmer password est requis</b></small
                >
                <small *ngIf="resetForm.errors?.misMatch" class="text-danger"
                  ><b>Password non confirmé</b></small
                >
              </div>
            </div>

            <div class="text-center">
              <button
                type="submit"
                class="btn btn-primary my-4"
                [disabled]="resetForm.invalid"
              >
                Confirmer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
